/* .site-name{
	background: #beebff;
}
.my-count-data{
	background: red;
}

.data{
	background: #cf433f;
	width: 10px;
	height: 10px;
	color: #cf433f;
	
}

.data1{
	background: #4bb2c5;
	width: 10px;
	height: 10px;
	color: #4bb2c5;
} */