<!doctype html>
<html>
    <head>		
		<title>PHP and MySQL with JSON and Handlebars Templates</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

	    <!-- css libs -->
		<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
		
		<!-- demo page styles -->
        <link href="css/vendor/normalize.css" rel="stylesheet" type="text/css" />
		<link href="css/styles.min.css" rel="stylesheet" type="text/css" />
		<link href="css/jplist-demo-pages.min.css" rel="stylesheet" type="text/css" />
				
		
		<!-- jQuery lib -->		
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		
		<!-- jPList js and css  -->
		<link href="css/jplist-core.min.css" rel="stylesheet" type="text/css" />		
		<script src="js/jplist-core.min.js"></script>
		
		
	<!-- sort bundle -->
	<script src="js/jplist.sort-bundle.min.js"></script>
	
	<!-- textbox filter control -->
	<script src="js/jplist.textbox-control.min.js"></script>
	<link href="css/jplist-textbox-control.min.css" rel="stylesheet" type="text/css" />
	
	<!-- jplist pagination bundle -->
	<script src="js/jplist.pagination-bundle.min.js"></script>
	<link href="css/jplist-pagination-bundle.min.css" rel="stylesheet" type="text/css" />		
	
	<!-- jplist history bundle -->
	<script src="js/jplist.history-bundle.min.js"></script>
	<link href="css/jplist-history-bundle.min.css" rel="stylesheet" type="text/css" />
	
	<!-- jplist toggle bundle -->
	<script src="js/jplist.filter-toggle-bundle.min.js"></script>
	<link href="css/jplist-filter-toggle-bundle.min.css" rel="stylesheet" type="text/css" />
	
	<!-- jplist views control -->
	<script src="js/jplist.views-control.min.js"></script>
	<link href="css/jplist-views-control.min.css" rel="stylesheet" type="text/css" />
	
	<!-- preloader -->
	<script src="js/jplist.preloader-control.min.js"></script>
	<link href="css/jplist-preloader-control.min.css" rel="stylesheet" type="text/css" />
	
	<!-- filter dropdown control -->
	<script src="js/jplist.filter-dropdown-bundle.min.js"></script>
	
	<!-- Handlebars Templates Library: http://handlebarsjs.com -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
			
	<script>
		$('document').ready(function () {

			var $list = $('#demo .list')
				, template = Handlebars.compile($('#jplist-template').html());

			//init jplist with php + mysql data source, json and handlebars template
			$('#demo').jplist({

				itemsBox: '.list'
				, itemPath: '.list-item'
				, panelPath: '.jplist-panel'

				//data source
				, dataSource: {

				type: 'server'
				, server: {

					//ajax settings
					ajax: {
						url: 'server/server-json.php'
						, dataType: 'json'
						, type: 'POST'
					}
				}

				//render function for json + templates like handlebars, xml + xslt etc.
				, render: function (dataItem, statuses) {
					$list.html(template(dataItem.content));
				}
			}

			});
		});
	</script>
	
	<!-- handlebars template -->
	<script id="jplist-template" type="text/x-handlebars-template">
		{{#each this}}
							
			<div class="list-item box">	
				<div class="img left">
					<img src="{{image}}" alt="" title=""/>
				</div>
									
				<div class="block right">
					<p class="title">{{title}}</p>
					<p class="desc">{{description}}</p>
					<p class="like">{{likes}} Likes</p>
					<p class="theme">{{keyword1}}, {{keyword2}}</p>
				</div>
			</div>
								
		{{/each}}
	</script>
		
    </head>
    <body>
	
		<!-- top bar -->
		<div id="black-top-bar" class="box">
			<div class="center">			
				<div class="box">

					<!-- left menu -->
					<ul id="black-top-bar-left-menu" class="hmenu left iphone-hidden">
						<li class="glow">
							<a title="" href="https://github.com/no81no/jplist/issues?state=open">
								<i class="fa fa-asterisk"></i> Request a feature / <i class="fa fa-bug"></i> Report a bug
							</a>
						</li>
					</ul>

					<!-- social menu -->
					<ul id="social-menu" class="hmenu right">
						<li class="glow"><a title="" href="https://www.facebook.com/jplist"><i class="fa fa-facebook"></i>&nbsp;</a></li>
						<li class="glow"><a rel="publisher" title="" href="https://plus.google.com/+Jplistjs"><i class="fa fa-google-plus"></i></a></li>	
						<li class="glow"><a title="" href="https://twitter.com/jquery_jplist"><i class="fa fa-twitter"></i></a></li>					
						<li class="glow"><a title="" href="https://github.com/no81no/jplist"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
			</div>
		</div>	
				
		<!-- header -->
		<header id="header" class="box">
			<div id="header-box" class="box">
				<div class="center">			
					<div class="box">

						<!-- logo -->
						<div class="left" id="logo">	
                            <img title="jPList - jQuery Data Grid Controls" alt="jPList - jQuery Data Grid Controls" src="http://jplist.com/content/img/common/rocket.png" />
							<a title="" href="http://jplist.com">jPList - jQuery Data Grid Controls</a>
						</div>

					</div>
				</div>					
			</div>
		</header>
		
		<!-- bread crumbs -->
		<div class="box" id="bread-crumbs-box">
			<div class="box" id="bread-crumbs">			
				<div class="center"><div class="box text-shadow"><p></p></div></div>
			</div>
		</div>
		
		<!-- page title -->
		<div class="box product-page-title p-tb-20">
			<div class="center">
				
				<div class="box text-shadow">
					<h1 class="h1-30-normal left reset-pm">PHP and MySQL with JSON and Handlebars Templates</h1>
				</div>	

			</div>
		</div>
		
		<!-- main content -->
		<div class="box">
			<div class="center">
				<!--<><><><><><><><><><><><><><><><><><><><><><><><><><> DEMO START <><><><><><><><><><><><><><><><><><><><><><><><><><>-->
				
				
			
	<!-- demo -->
	<div id="demo" class="box jplist">
						
		<!-- ios button: show/hide panel -->
		<div class="jplist-ios-button">
			<i class="fa fa-sort"></i>
			jPList Actions
		</div>
							
		<!-- panel -->
		<div class="jplist-panel box panel-top">						

			<!-- reset button -->
			<button 
				type="button" 
				class="jplist-reset-btn"
				data-control-type="reset" 
				data-control-name="reset" 
				data-control-action="reset">
				Reset &nbsp;<i class="fa fa-share"></i>
			</button>

			<div
				class="jplist-drop-down"
				data-control-type="items-per-page-drop-down"
				data-control-name="paging"
				data-control-action="paging">

				<ul>
					<li><span data-number="3"> 3 per page </span></li>
					<li><span data-number="5"> 5 per page </span></li>
					<li><span data-number="10" data-default="true"> 10 per page </span></li>
					<li><span data-number="all"> View All </span></li>
				</ul>
			</div>

			<div
				class="jplist-drop-down"
				data-control-type="sort-drop-down"
				data-control-name="sort"
				data-control-action="sort">

				<ul>
					<li><span data-path="default">Sort by</span></li>
					<li><span data-path=".title" data-order="asc" data-type="text">Title A-Z</span></li>
					<li><span data-path=".title" data-order="desc" data-type="text">Title Z-A</span></li>
					<li><span data-path=".desc" data-order="asc" data-type="text">Description A-Z</span></li>
					<li><span data-path=".desc" data-order="desc" data-type="text">Description Z-A</span></li>
					<li><span data-path=".like" data-order="asc" data-type="number">Likes asc</span></li>
					<li><span data-path=".like" data-order="desc" data-type="number">Likes desc</span></li>
				</ul>
			</div>

			<!-- filter by title -->
			<div class="text-filter-box">
																
				<!--[if lt IE 10]>
				<div class="jplist-label">Filter by Title:</div>
				<![endif]-->
									
				<input 
					data-path=".title" 
					data-button="#title-search-button"
					type="text" 
					value="" 
					placeholder="Filter by Title" 
					data-control-type="textbox" 
					data-control-name="title-filter" 
					data-control-action="filter"
				/>
									
				<button 
					type="button" 
					id="title-search-button">
					<i class="fa fa-search"></i>
				</button>
			</div>
								
			<!-- filter by description -->
			<div class="text-filter-box">
																	
				<!--[if lt IE 10]>
				<div class="jplist-label">Filter by Description:</div>
				<![endif]-->
									
				<input 
					data-path=".desc" 
					data-button="#desc-search-button"
					type="text" 
					value="" 
					placeholder="Filter by Description" 
					data-control-type="textbox" 
					data-control-name="desc-filter" 
					data-control-action="filter"
				/>	
									
				<button 
					type="button" 
					id="desc-search-button">
					<i class="fa fa-search"></i>
				</button>
			</div>
			
			<!-- filter dropdown control -->
			<div 
				class="jplist-drop-down" 
				data-control-type="filter-drop-down" 
				data-control-name="category-dropdown-filter" 
				data-control-action="filter">
				
				<ul>
					<li><span data-path="default">Filter by category</span></li>
					<li><span data-path=".architecture">Architecture</span></li>
					<li><span data-path=".christmas">Christmas</span></li>
					<li><span data-path=".lifestyle">LifeStyle</span></li>
					<li><span data-path=".nature">Nature</span></li>
				</ul>
			</div>
								
			<!-- checkbox filters -->
			<div
				class="jplist-group"
				data-control-type="checkbox-group-filter"
				data-control-action="filter"
				data-control-name="themes">

				<input
					data-path=".architecture"
					id="architecture"
					type="checkbox"
				/>

				<label for="architecture">Architecture</label>

				<input
					data-path=".christmas"
					id="christmas"
					type="checkbox"
				/>

				<label for="christmas">Christmas</label>

				<input
					data-path=".nature"
					id="nature"
					type="checkbox"
				/>

				<label for="nature">Nature</label>

				<input
					data-path=".lifestyle"
					id="lifestyle"
					type="checkbox"
				/>

				<label for="lifestyle">Lifestyle</label>
			</div>

			<div
				class="jplist-group"
				data-control-type="checkbox-group-filter"
				data-control-action="filter"
				data-control-name="colors">

				<input
					data-path=".red"
					id="red-color"
					type="checkbox"
				/>

				<label for="red-color">Red</label>

				<input
					data-path=".green"
					id="green-color"
					type="checkbox"
				/>

				<label for="green-color">Green</label>

				<input
					data-path=".blue"
					id="blue-color"
					type="checkbox"
				/>

				<label for="blue-color">Blue</label>

				<input
					data-path=".brown"
					id="brown-color"
					type="checkbox"
				/>

				<label for="brown-color">Brown</label>
									
			</div>
			
			<!-- views -->
			<div 
				class="jplist-views" 
				data-control-type="views" 
				data-control-name="views" 
				data-control-action="views"
				data-default="jplist-list-view">
								   
				<button type="button" class="jplist-view jplist-list-view" data-type="jplist-list-view"></button>
				<button type="button" class="jplist-view jplist-grid-view" data-type="jplist-grid-view"></button>
			</div>
								
			<!-- pagination results -->
			<div 
				class="jplist-label" 
				data-type="Page {current} of {pages}" 
				data-control-type="pagination-info" 
				data-control-name="paging" 
				data-control-action="paging">
			</div>
									
			<!-- pagination -->
			<div 
				class="jplist-pagination" 
				data-control-type="pagination" 
				data-control-name="paging" 
				data-control-action="paging">
			</div>	
			
			<!-- preloader for data sources -->
			<div 
				class="jplist-hide-preloader jplist-preloader"
				data-control-type="preloader" 
				data-control-name="preloader" 
				data-control-action="preloader">
				<img src="img/common/ajax-loader-line.gif" alt="Loading..." title="Loading..." />
			</div>

		</div>
							 
		<!-- ajax content here -->   
		<div class="list box text-shadow"></div>
							
		<!-- no result found -->
		<div class="box jplist-no-results text-shadow align-center jplist-hidden">
			<p>No results found</p>
		</div>
							
		<!-- ios button: show/hide panel -->
		<div class="jplist-ios-button">
			<i class="fa fa-sort"></i>
			jPList Actions
		</div>
							
		<!-- panel -->
		<div class="jplist-panel box panel-bottom" style="margin: 0 0 20px 0">						
														
			<div 
				class="jplist-drop-down left" 
				data-control-type="items-per-page-drop-down" 
				data-control-name="paging" 
				data-control-action="paging"
				data-control-animate-to-top="true">
									
				<ul>
					<li><span data-number="3"> 3 per page </span></li>
					<li><span data-number="5"> 5 per page </span></li>
					<li><span data-number="10" data-default="true"> 10 per page </span></li>
					<li><span data-number="all"> View All </span></li>
				</ul>
			</div>
			<div 
				class="jplist-drop-down left" 
				data-control-type="sort-drop-down" 
				data-control-name="sort" 
				data-control-action="sort"
				data-control-animate-to-top="true">
									
				<ul>
					<li><span data-path="default">Sort by</span></li>
					<li><span data-path=".title" data-order="asc" data-type="text">Title A-Z</span></li>
					<li><span data-path=".title" data-order="desc" data-type="text">Title Z-A</span></li>
					<li><span data-path=".desc" data-order="asc" data-type="text">Description A-Z</span></li>
					<li><span data-path=".desc" data-order="desc" data-type="text">Description Z-A</span></li>
					<li><span data-path=".like" data-order="asc" data-type="number">Likes asc</span></li>
					<li><span data-path=".like" data-order="desc" data-type="number">Likes desc</span></li>
				</ul>
			</div>
								
			<!-- pagination results -->
			<div 
				class="jplist-label" 
				data-type="{start} - {end} of {all}" 
				data-control-type="pagination-info" 
				data-control-name="paging" 
				data-control-action="paging">
			</div>
									
			<!-- pagination -->
			<div 
				class="jplist-pagination" 
				data-control-type="pagination" 
				data-control-name="paging" 
				data-control-action="paging"
				data-control-animate-to-top="true">
			</div>					
		</div>
	</div>
	<!-- end of demo -->
				<!--<><><><><><><><><><><><><><><><><><><><><><><><><><> DEMO END <><><><><><><><><><><><><><><><><><><><><><><><><><>-->				
			</div>		
		</div>	
		
		<!-- footer -->
		<footer class="box" id="footer">
			<div class="center">			
                <div class="box">
					<p id="footer-content" class="align-center glow">
						<a href="http://jplist.com" title="">Copyright &copy; 2015  <b>jPList Software</b></a>
					</p>					
				</div>
			</div>
		</footer>	
    </body>
</html>